body{
    background: #6441A5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2a0845, #6441A5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2a0845, #6441A5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container{
    background-color: black;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    padding: 10px;
    height: 150px;
    width: 300px;
    text-align: center;
}

h1{
    font-family: 'Open Sans', sans-serif;
    color: white; 
    margin: 5px 0px 0px -10px;
    margin: auto;
}

p{
    color:rgb(116, 116, 116);
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    margin: 5px 0 5px 0;
}

a{
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

.returnButton{
    font-family: 'Open Sans', sans-serif;
   display: block;
   border-radius: 1em;
   border: 2px solid rgb(132, 132, 230);   font-size: 20px;
   margin: 10px 20px 20px 20px;
   padding: 5px;
   text-decoration: none;
   color:rgb(92, 91, 91);
}

.returnButton:hover{
    cursor: pointer;
    background-color: rgb(208, 197, 197);
    color: grey;
 }

